# macOS
.DS_Store

## Build generated
/.build
DerivedData/

# Swift Package Manager
/Packages
Package.resolved
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
xcuserdata/

# Misc
.netrc
.idea/