# macOS
.DS_Store

## Build generated
/.build
DerivedData/

# Swift Package Manager
/Packages
Package.resolved
.swiftpm/config/registries.json

# .swiftpm - for shared CI schemes we need these checked in:
#     -> .swiftpm/xcode/package.xcworkspace
#     -> .swiftpm/xcode/xcshareddata/xcschemes/*.*

# Xcode
xcuserdata/

# Misc
.netrc
.idea/